.message-bubble-column { max-width:100% !important}

.message-list-container { position: inherit !important;
  max-height: 80vh !important;
  height: 100% !important;
  overflow-y: auto !important;
}

.message-list {
  max-height: 80vh !important;
}

.footer {
  margin-left: 65% !important;
  width: 35% !important;
}
